<h1>Enter amount</h1>
<hr/>
<form action="/Calculations/DiscountForm" method="post">
    <label for="amt">Enter Amount</label>
    <br /><br />
    <input name="amt" id="amt" type="number"/>
    <hr />
    <input type="submit" value="Calculate Discount" />
</form>
