<h1>Enter number</h1>
<hr />
<form action="/Calculations/TableGen" method="post">
    <label for="num">Enter a number</label>
    <br /><br />
    <input name="num" id="amt" type="number" />
    <hr />
    <input type="submit" value="Generate Table" />
</form>
