@model RoutingDemo.Models.ViewModel.ForgotPasswordVM;

<form asp-controller="User" asp-action="ForgotPassword" method="post" class="container mt-4 shadow pb-5 pt-5" style="width:500px;">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mt-3">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" />
        <div>
            <span asp-validation-for="Email" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <div class="mt-3">

        <button class="btn btn-primary">Send Confirmation Mail</button>
    </div>
</form>