@model RoutingDemo.Models.User

<form asp-controller="User" asp-action="Login" method="post" class="container mt-4 shadow pb-5 pt-5" style="width:500px;">
    @Html.AntiForgeryToken();
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mt-3">
        <label asp-for="fullname" class="col-form-label"></label>
        <input asp-for="fullname" class="form-control" />
        <div>
            <span asp-validation-for="fullname" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <div class="mt-3">
        <label asp-for="UserName" class="col-form-label"></label>
        <input asp-for="UserName" class="form-control" />
        <div>
            <span asp-validation-for="UserName" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <div class="mt-3">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <div>
            <span asp-validation-for="Email" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <div class="mt-3">
        <label asp-for="age" class="col-form-label"></label>
        <input asp-for="age" class="form-control"  type="number">
        <div>
            <span asp-validation-for="age" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <div class="mt-3">
        <label asp-for="Password" class="col-form-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <div>
            <span asp-validation-for="Password" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <div class="mt-3">
        <label asp-for="ComparePassword" class="col-form-label"></label>
        <input asp-for="ComparePassword" class="form-control" type="password" />
        <div>
            <span asp-validation-for="ComparePassword" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <div class="mt-3">
        <label asp-for="address" class="col-form-label"></label>
        <textarea asp-for="address" class="form-control" ></textarea>
        <div>
            <span asp-validation-for="address" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <div class="mt-3">
        <label asp-for="zipcode" class="col-form-label"></label>
        <input asp-for="zipcode" class="form-control" />
        <div>
            <span asp-validation-for="zipcode" class="text-danger text-sm-start"></span>
        </div>
    </div>
    <hr />
    <input type="submit" value="Register" class="btn btn-primary mt-3" />
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>