<h1>Product Created</h1>
<style>
    ul li{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:darkblue;
    }
</style>
<fieldest>
    <legend>Product Info</legend>
    <ul>
        <li>@ViewBag.Id</li>
        <li>@ViewBag.Name</li>
        <li>@ViewBag.Price Rs</li>
            @* Razor Syntax - Code + HTML*@
    </ul>
</fieldest>
